.page{  /*Данный класс нужен исключительно для позиционирования блока на странице*/
    max-width: 528px;/*При использовании его в других местах, данный блок изменяется на внешнее позиционирование*/
    padding: 20px;
    margin: auto;
}