.progress{
    margin: calc((300px - 196px)/2) 0 ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100% ;
    height: 100%;
    gap: 100px;
    
}

@media screen and (orientation: portrait){
    .progress{
        flex-direction: column;

    }
}