@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/block/block.css);
@import url(../blocks/block/__title/block__title.css);
@import url(../blocks/block/__slide/block__slide.css);
@import url(../blocks/block/__open/block__open.css);
@import url(../blocks/block/__open/block__open-text.css);
@import url(../blocks/block/__nav/block__nav.css);
@import url(../blocks/block/__button/block__button.css);





@import url(../blocks/progress/progress.css);
@import url(../blocks/progress/__bar/progress__bar.css);
@import url(../blocks/progress/__error/progress__error.css);
@import url(../blocks/progress/__input/progress__input.css);
@import url(../blocks/progress/__input/progress__input-name.css);
@import url(../blocks/progress/__label/progress__label.css);
@import url(../blocks/progress/__setting/progress__setting.css);
@import url(../blocks/progress/__settings/progress__settings.css);
@import url(../blocks/progress/__switch/progress__switch.css);
@import url(../blocks/progress/__style/progress__style.css);

@import url(../blocks/active/active.css);
@import url(../blocks/border/border.css);
@import url(../blocks/page/page.css);/*Данный класс нужен исключительно для позиционирования блока на странице*/ /*При использовании его в других местах, данный блок изменяется на внешнее позиционирование*/
@import url(../blocks/drop-down/drop-down.css);
@import url(../blocks/show/show.css);


@import url(../blocks/form/form.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__label/form__label.css);
@import url(../blocks/form/__fieldset/form__fieldset.css);
@import url(../blocks/form/__submit/form__submit.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/_opened/popup_opened.css);

@import url(../blocks/popup/__close-img/popup__close-img.css);

#progress__svg.animated {
    animation: spin 3s linear infinite;
}

input::-webkit-outer-spin-button, /* Единственный способ убрать стрелочки, оставив валидацию браузера*/
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

input[type="number"] {
   -moz-appearance: textfield;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

