@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/block/block.css);
@import url(../blocks/block/__title/block__title.css);

@import url(../blocks/progress/progress.css);
@import url(../blocks/progress/__bar/progress__bar.css);
@import url(../blocks/progress/__error/progress__error.css);
@import url(../blocks/progress/__input/progress__input.css);
@import url(../blocks/progress/__input/progress__input-name.css);
@import url(../blocks/progress/__label/progress__label.css);
@import url(../blocks/progress/__setting/progress__setting.css);
@import url(../blocks/progress/__settings/progress__settings.css);
@import url(../blocks/progress/__switch/progress__switch.css);

@import url(../blocks/active/active.css);
@import url(../blocks/border/border.css);

#progress__svg.animated {
    animation: spin 3s linear infinite;
}

input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

input[type="number"] {
   -moz-appearance: textfield;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

